// Fuentes
$main_font: 'Open Sans', sans-serif;
$secondary_font: 'Roboto', cursive;

// Media Queries Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;

// Colors
$primary: #3b4862;

$black: #000;
$white: #ffffff;
$gray: #eeefed;
$light_gray: #f8f8f8;
